
NODE_ENV=dev

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.

# https://financialmodelingprep.com/
FINANCIAL_MODELING_PREP_API_KEY=iPxYfnI4wTjICC9ZN4TEL4szGFzsuUYA 
FINANCIAL_MODELING_PREP_URL=https://financialmodelingprep.com

# alphavantage
ALPHA_VANTAGE_API_KEY=IFCDIXEFNX2WD5KN 
ALPHA_VANTAG_URL=https://www.alphavantage.co/

JWT_SECRET=developent
DATABASE_URL="postgresql://docker:docker@localhost:5432/apisolid?schema=public"